@inject NavigationManager NavigationManager

<div class="vertical-menu @(IsMinimize ? "minimized" : "")">

    <div class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <NavLink href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible") @(IsMinimize ? "" : "active")">Dashboard</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/pengajuan-mpp">
                        <i class="bi bi-plus-square"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible") @(IsMinimize ? "" : "active")">Pengajuan
                            MPP</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/pemenuhan-mpp">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible") @(IsMinimize ? "" : "active")">Pemenuhan
                            MPP</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/menu-report">
                        <i class="bi bi-bar-chart-fill"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible") @(IsMinimize ? "" : "active")">Menu
                            Report</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/master-data">
                        <i class="bi bi-database-fill"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible") @(IsMinimize ? "" : "active")">Master
                            Data</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/akun">
                        <i class="bi bi-person-circle"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible") @(IsMinimize ? "" : "active")">Akun</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/components">
                        <i class="bi bi-sliders"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible") @(IsMinimize ? "" : "active")">Components</span>
                    </NavLink>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>

@code {
    [Parameter]
    public bool IsMinimize { get; set; }
}

<style scoped>
    .vertical-menu {
        transition: width 0.3s ease-in-out;
        /* Adjust the duration and timing function as needed */
    }

    .minimized {
        width: 70px;
        /* The width when minimized */
    }

    .hidden {
        opacity: 0;
        display: none;
        transition: opacity 0.3s ease-in-out;
    }

    .visible {
        opacity: 0;
        display: inline-block;
        /* or any other display value you want when visible */
        transition: opacity 0.3s ease-in-out;
    }

    .visible.active {
        opacity: 1;
        transition-delay: 1s;
        /* Delay of 1 second */
    }

    a span {
        color: #8F90A6;
    }

    a i {
        color: #8F90A6 !important;
    }

    a.active {
        border-right: 4px solid #FFCA0D;
    }

    a.active span {
        color: #000;
    }

    a.active i {
        color: #FFCA0D !important;
    }

    a.active .border {
        width: 10px;
        height: 10px;
        background-color: blue;
    }
</style>