@inject NavigationManager NavigationManager

<div class="vertical-menu @(IsMinimize ? "minimized" : "")">

    <div class="h-100" style="overflow-y: auto;">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <NavLink href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible active")">Dashboard</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/pengajuan-mpp">
                        <i class="bi bi-layers-fill"></i>
                        <span data-key="t-dashboard" class="@(IsMinimize ? "hidden" : "visible active")">Pengajuan
                            MPP</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/pemenuhan-mpp">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span data-key="t-dashboard" class="@(IsMinimize ? "hidden" : "visible active")">Pemenuhan
                            MPP</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/menu-report">
                        <i class="bi bi-bar-chart-fill"></i>
                        <span data-key="t-dashboard" class="@(IsMinimize ? "hidden" : "visible active")">Menu
                            Report</span>
                    </NavLink>
                </li>
                @* <li>
                <NavLink href="/master-data">
                <i class="bi bi-database-fill"></i>
                <span data-key="t-dashboard" class="@(IsMinimize ? "hidden" : "visible active")">Master
                Data</span>
                </NavLink>
                </li> *@
                <li>
                    <NavLink href="#" class="@(IsMinimize ? "" : "has-arrow")" @onclick="ToggleSubMenu">
                        <i class="bi bi-database-fill"></i>
                        <span data-key="t-dashboard" class="@(IsMinimize ? "hidden" : "visible active")">Master
                            Data</span>
                    </NavLink>
                    <ul class="sub-menu mm-collapse @(isSubMenuVisible ? "mm-show" : "")" aria-expanded="false">

                        <li>
                            <NavLink href="/master-data/departemen">
                                Departemen
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/divisi">
                                Divisi
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/golongan">
                                Golongan
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/jenis-mpp">
                                Jenis MPP
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/jenis-permintaan">
                                Jenis
                                Permintaan
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/jurusan-pendidikan">
                                Jurusan
                                Pendidikan
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/lokasi">
                                Lokasi
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/pendidikan">
                                Pendidikan
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/posisi">
                                Posisi
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/status">
                                Status
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="/master-data/sumber-pemenuhan">
                                Sumber
                                Pemenuhan
                            </NavLink>
                        </li>

                    </ul>
                </li>
                <li>
                    <NavLink href="/akun">
                        <i class="bi bi-person-circle"></i>
                        <span data-key="t-dashboard" class="@(IsMinimize ? "hidden" : "visible active")">Akun</span>
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/components">
                        <i class="bi bi-sliders"></i>
                        <span data-key="t-dashboard"
                            class="@(IsMinimize ? "hidden" : "visible active")">Components</span>
                    </NavLink>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>

@code {
    [Parameter]
    public bool IsMinimize { get; set; }
    private bool isSubMenuVisible = false;

    private void ToggleSubMenu()
    {
        isSubMenuVisible = !isSubMenuVisible;
    }
}

<style scoped>
    .vertical-menu {
        transition: width 0.3s ease-in-out;
        /* Adjust the duration and timing function as needed */
    }

    .minimized {
        width: 70px;
        /* The width when minimized */
    }

    .hidden {
        opacity: 0;
        display: none;
        transition: opacity 0.3s ease-in-out;
    }

    .visible {
        opacity: 0;
        display: inline-block;
        /* or any other display value you want when visible */
        transition: opacity 0.3s ease-in-out;
    }

    .visible.active {
        opacity: 1;
        transition-delay: 1s;
        /* Delay of 1 second */
    }

    a span {
        color: #8F90A6;
    }

    a i {
        color: #8F90A6 !important;
    }

    a.active {
        border-right: 4px solid #FFCA0D;
    }

    a.active span {
        color: #000;
    }

    a.active i {
        color: #FFCA0D !important;
    }

    a.active .border {
        width: 10px;
        height: 10px;
        background-color: blue;
    }

    .sub-menu {
        transition: height 0.3s ease-in-out;
    }
</style>